body {
    background-color: #151515;
}

.banner-section {
    height: 437px;
    width: 100%;
    background-color: black;
}

.title-positionset {
    padding-top: 8%;
}

.title-color {
    color: #FF5E19;
}